.ocupation{
  color: #0277bd;
}
.circle{
  width: 70px !important;
  height: 70px !important;
  left: 0 !important;
}
.margin-up{
  margin-top: 2em;
}
.danger{
  padding: 10px;
  color: #fff;
}
.danger a {
  color: #0277bd;
}
.color-primary{
  color: #0277bd;
}
.color-orange{
  color: #ff6e40 ;
}
.pointer{
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .card-avatar{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

