<div class="row">
  <form class="col s12" name="userForm" ng-submit="addUser()">
    <h3 class="center">Agregar Usuario</h3>
    <div class="row">
      <div class="input-field col s12 m6 offset-m3">
        <i class="material-icons prefix">account_circle</i>
        <input type="text" class="validate" ng-model="newUser.name.first" required>
        <label for="firstName">Nombre</label>
      </div>
      <div class="input-field col s12 m6 offset-m3">
        <i class="material-icons prefix">account_circle</i>
        <input type="text" class="validate" ng-model="newUser.name.last" required>
        <label for="lastName">Apellido</label>
      </div>
      <div class="input-field col s12 m6 offset-m3">
        <i class="material-icons prefix">cake</i>
        <input type="number" class="validate" ng-model="newUser.age" min="10" max="100"required>
        <label for="age">Edad</label>
      </div>
      <div class="input-field col s12 m6 offset-m3">
        <i class="material-icons prefix">work</i>
        <input type="text" class="validate" ng-model="newUser.ocupation" required>
        <label for="ocupation">Ocupación</label>
      </div>
      <div class="input-field col s12 m6 offset-m3">
        <i class="material-icons prefix">create</i>
        <textarea class="materialize-textarea" ng-model="newUser.biography" required></textarea>
        <label for="biography">Escriba una pequeña biografia</label>
      </div>
      <div class="col s12 m6 offset-m3 center">
        <button class="btn-large waves-effect waves-light" ng-disabled="userForm.$invalid" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
        </div>
  </form>
</div>
