<section ng-init="getUser()">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card">
        <div class="card-image blue-grey lighten-5 center">
          <figure class="card-avatar">
            <img ng-src="{{user.avatar}}">
          </figure>
        </div>
        <div class="card-content center">
          <h4 class="center">{{user.name.first}} {{user.name.last}}</h4>
          <h5 class="ocupation">{{user.ocupation}}</h5>
          <p><strong>{{user.age}}</strong> años</p>
          <p>{{user.biography}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
