<section class="container" ng-init="loadUsers()">
 	<h3 class="center">Usuarios</h3>
	<div class="input-field col s12 m6 offset-m3">
		<i class="material-icons prefix">search</i>
		<input id="search" type="text" ng-model="search">
		<label for="search">Buscar Usuario</label>
	</div>
	<ul class="collection">
		<li class="collection-item avatar" ng-repeat="user in users| filter: search">
			<a href="/usuarios/{{user.id}}">
				<img ng-src="{{user.avatar}}" class="circle">
			</a>
			<span class="title">{{user.name.first}} {{user.name.last}}</span> <br>
			<small class="ocupation">{{user.ocupation}}</small>
			<p>{{user.biography}}</p>
			<div class="secondary-content">
				<a href="/usuarios/editar/{{user.id}}" class="color-primary">
					<i class="material-icons">create</i>
				</a>
				<span class="color-orange pointer" ng-click="remove(user)">
					<i class="material-icons">delete</i>
				</span>
			</div>
		</li>
	</ul>
	<div class="center red lighten-1 danger" ng-show="!users.length">
		<i class="material-icons">warning</i> No hay Usuarios guardados, <a href=""> Agrega uno</a>
	</div>
</section>
